# Server Port
PORT=5000

# MongoDB URI (Use local for local testing, or MongoDB Atlas connection string for cloud deployment)
# Local: mongodb://127.0.0.1:27017/hackathon_registration
# Cloud Atlas: mongodb+srv://<username>:<password>@cluster0.xxxxx.mongodb.net/hackathon_registration?retryWrites=true&w=majority
MONGODB_URI=mongodb://127.0.0.1:27017/hackathon_registration

# JWT Secret Key
JWT_SECRET=hackathon_super_jwt_secret_desk_2026

# Allowed Client Origin (for CORS)
CLIENT_URL=http://localhost:5173
